* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

button {
    color: grey;
    border: 1px solid grey;
    width: 60px;
    background-color: black;
}
header {
    border: 1px solid grey;
}


.wordle-letter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 1px solid grey;
    transition-property: scale();
    transition-duration: 1s;
}

.correctGuess {
    background-color: green;
}
.flex-1 {
    
    width: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/41-415090_menu-icon-png-grey.png");
}
.flex-5 {
    width: 39px;
    
    background-size: contain;
    background-image: url("images/settings.png");
}

.grow {
    
    transform: scale(1.2);
}

.wrongSpot {
    background-color: gold;
}

.keys {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
}


#container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

#header-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#user-input {
    font-size: 30px;
    text-align: center;
    background-color: grey;
}

#user-input:focus {
    outline: none;
    transform: scale(1.1);
}

#keyboard-container {
    display: flex;
    margin: 30px auto;
    justify-content: center;
    flex-flow: row wrap;
    width: 600px;
}

#keyboard-container > div {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 600px;
}


#wordle-container {
    
    margin: 60px auto 60px auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    width: 450px;
}

#winner, #loser {
    transition-property: all;
    transition-duration: 1s;
    /* visibility: hidden; */
    position: absolute;
    top: 200px;
    transform: translateX(-2000px);
    font-size: 100px;
    z-index: 100;
}

#answer-h1 {
    transition-property: all;
    transition-duration: 1s;
    /* visibility: hidden; */
    position: absolute;
    top: 300px;
    transform: translateX(2000px);
    font-size: 100px;
    z-index: 100;
}

.shake-left {
    transition-property: all;
    transition-duration: 1s;
    transform: rotate(-20deg);
}

.shake-right {
    transition-property: all;
    transition-duration: 1s;
    transform: rotate(20deg);
}

@media only screen and (max-width: 600px) {
    .wordle-letter {
      width: 40px;
      height: 40px;
      
    }
    #wordle-container {
        width: 300px;
    }
    #user-input {
        font-size: 20px;
    }
  }


